// .chat-screen {
//   height: 65vh;
// }

.chat-screen .chat-top {
  display: flex;
  justify-content: space-between;
}

.chat-screen .chat-top img:first-child {
  font-size: 2em;
}

.chat-screen .chat-top h1 {
  font-size: 0.85em;
  font-weight: 600;
}

.chat-screen .chat-top img:last-child {
  width: 15vw;
  height: 15vw;
  border-radius: 5px;
}

.chat-screen .conversation-box {
  height: 60vh;
}

.chat-screen .conversation-box p {
  font-weight: 200;
  font-size: 0.85em;
  width: 100%;
  margin: 2vh 0;
  padding: 5%;
  border-radius: 15px;
}

.chat-screen .conversation-box p.float-right {
  text-align: right;
  // margin-right: 30%;
}

.chat-screen .conversation-box p.float-left {
  text-align: left;
  background-color: $soft-grey;
  // margin-left: 30%;
}

.chat-screen .chat-bottom {
  justify-content: space-between;
  align-items: center;
  background-color: $base-white;
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 5% 5vh;
  left: 0;
}

.chat-screen .chat-bottom .send-message {
  width: 70vw;
  background-color: $base-white;
  border: 1px solid $soft-grey;
  border-radius: 5px;
  padding: 5%;
  box-sizing: border-box;
}

.chat-screen .chat-bottom .send-message-btn {
  width: 15vw;
  height: 15vw;
  background-color: $theme-blue;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-screen .chat-bottom .send-message-btn img {
  width: 50%;
}
