.chat-screen .chat-top {
  display: flex;
  justify-content: space-between;
}

.chat-screen .chat-top img:first-child {
  font-size: 2em;
}

.chat-screen .chat-top h1 {
  font-size: 0.85em;
  font-weight: 600;
}

.chat-screen .chat-top img:last-child {
  width: 15vw;
  height: 15vw;
  border-radius: 5px;
}

.chat-screen .conversation-box p {
  font-weight: 200;
  font-size: 0.85em;
  width: 100%;
  margin: 2vh 0;
  padding: 5%;
  border-radius: 15px;
}

.chat-screen .conversation-box p.float-right {
  text-align: right;
  // margin-right: 30%;
}

.chat-screen .conversation-box p.float-left {
  text-align: left;
  background-color: $soft-grey;
  // margin-left: 30%;
}
