.img-gallery {
    display: flex;
    flex-wrap: wrap;
}

.img-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.img-gallery .img-box {
    width: 40vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    margin: 2vh 1vh;
}

// .file-upload-cta.lg {
//     height: 15vh;
// }