.activity-screen,
.favorites-screen {
  .activity-component,
  .favorites-component {
    .alert-empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 8vh;

      h2 {
        margin-bottom: 20px;
      }

      button {
        max-height: 50px;
        max-width: 300px;
        margin-top: 30px;
      }
    }
  }
}
