.activity-screen,
.favorites-screen,
.reservation-screen {
  .activity-component,
  .favorites-component,
  .reservations-component {
    .alert-empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 8vh auto;
      padding: 0 5%;
      text-align: center;

      h2 {
        margin-bottom: 20px;
      }

      button {
        max-height: 50px;
        max-width: 300px;
        margin-top: 30px;
      }
    }
  }
}
