.activity-component {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

  @include mq(medium) {
    flex-direction: row;
  }

  .main-list-item {
    height: 40vh;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    margin-bottom: 5vh;

    @include mq(medium) {
      width: 40%;
    }

    .image {
      height: 65%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 35%;

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;
        margin-bottom: 10px;
      }

      p {
        font-weight: 200;
        font-size: 0.9em;
      }

      a {
        background-color: $soft-green;
        border-radius: 20px;
        padding: 5px 20px;
      }
    }
  }
}
