.event-screen .event-list {
  // overflow: auto;
  // white-space: nowrap;
  // height: auto;
  margin-top: 5vh;
}

// .event-screen .event-featured {
//   display: flex;
//   flex-direction: column;
//   display: flex;
//   margin-right: 5vw;
//   margin-bottom: 10vh !important;
//   width: 75vw;
//   min-height: 75vw;
//   display: inline-block;
// }

.event-screen .event-featured {
  display: flex;
  flex-direction: column;
  display: flex;
  margin-right: 5vw;
  margin-bottom: 10vh !important;
  width: 35vw;
  height: auto;
  display: inline-block;
}

// .event-screen .image {
//   min-height: 70%;
//   width: 100%;
// }

.event-screen .image {
  height: 100%;
  width: 100%;
}

.event-screen .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 5px 5px 0px 0px;
}

.event-screen .info {
  height: 30%;
  width: 100%;
  display: flex;
  padding: 10% 3%;
  border: 1px solid #e7e7e7;
  border-radius: 0 0 10px 10px;
}

.event-screen .info .left {
  width: 80%;
}

.event-screen .info .right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-screen .info .left h3 {
  font-weight: 500 !important;
  font-size: 1.1em;
  text-overflow: ellipsis;
}

.event-screen .info .left h4 {
  font-weight: 300 !important;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event-screen .info .right .round-like-btn {
  width: 40px;
  height: 40px;
  border: 1px solid $theme-blue;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
