.property-screen .list-item {
  height: auto;
  width: 100%;
  margin: 5vh 0;
}

.property-screen .image {
  height: 100%;
  width: 100%;
}

.property-screen .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
