.event-screen .subject-image {
  height: 30vh;
  width: 100%;
}

.event-screen .subject-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-screen .wrapper {
  padding: 5%;
  padding-bottom: 5vh;
}

.event-screen h1 {
  font-size: 1.2em;
  font-weight: 900;
  margin: 3vh 0;
}

.event-screen h2 {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 3vh;
  font-style: italic;
}

.event-screen h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 3vh 0;
}

.event-screen p {
  font-weight: 100;
  line-height: 22px;
  font-size: 0.9em;
}

.event-screen h3 {
  @include main-h2-title;
  margin-bottom: 8px;
  font-size: 0.9em;
}

.event-screen button {
  @include main-btn;
  background: $theme-green;
}

.liked-event {
  background-color: white !important;
  border: 2px solid rgb(34, 83, 228) !important;
  font-weight: 700 !important;
  color: $base-white !important;
  color: rgb(34, 83, 228) !important;
}

.not-liked-event {
  background-color: rgb(34, 83, 228) !important;
  border: 2px solid rgb(34, 83, 228) !important;
  font-weight: 700 !important;
  color: $base-white !important;
}
