.home-screen {
  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }

    a {
      width: auto;
      margin-right: 5%;
      white-space: nowrap;
      padding: 1% 4%;
      margin: 0 5% 0 0;
    }
  }

  .event-section {
    width: 100%;
    padding: 15vh 0 0 5%;
    box-sizing: border-box;
  }

  @include mq(small) {
    // background-color: orange;
  }
}

// .property-section-homepage {
//   width: 100%;
//   margin-bottom: 5vh;
//   background-color: $soft-grey;
//   padding: 10% 5%;
//   box-sizing: border-box;
// }

// .property-section-homepage h2 {
//   // width: 100%;
//   text-align: center;
// }

// .property-section-homepage p {
//   font-weight: 300;
//   line-height: 20px;
//   text-align: center;
//   margin-bottom: 5vh;
// }

// .property-section-homepage img {
//   width: 100%;
// }

// .property-section-homepage .main-btn {
//   @include main-btn;
//   margin-top: 5vh;
//   background-color: $theme-green;
// }
