.home-screen .wrapper {
  width: 105%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-screen .event-section {
  width: 100%;
  margin-bottom: 10vh;
}

.home-screen .event-list {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.home-screen .event-card {
  width: 45vw;
  height: 45vw;
}

.home-screen .property-card {
  width: 45vw;
  height: 30vw;
}

.home-screen .event-image {
  width: 100%;
  height: 100%;
}

.home-screen .event-image img {
  border-radius: 7px 0px 0px 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-screen .event-title {
  width: 100%;
  margin-top: 3vh;
  color: $text-grey;
}

.home-screen button.main-btn {
  @include main-btn;
  background-color: $theme-green;
  padding: 10% 5%;
  display: flex;
  justify-content: space-around;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 65vw;
  height: 65vw;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.slider-row {
  display: flex;
}
