.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vh 5%;
  box-sizing: border-box;
  width: 100vw;
}

.login-screen.full-screen {
  height: 100vh;
}

.login-screen .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.login-screen .logo {
  width: 100px;
  margin-bottom: 3vh;
}

.login-screen form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-screen input[type="email"],
.login-screen input[type="text"],
.login-screen input[type="password"] {
  @include main-input-field;
  margin-bottom: 25px;
}

.login-screen input.main-btn {
  @include main-btn;
  background-color: $theme-green;
  // margin-top: 10vh;
}

.login-screen button {
  text-decoration: underline;
}

.file-button {
  display: none !important;
}
