.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 5%;
  box-sizing: border-box;
  width: 100vw;
}

// .login-screen.padding-correction {
//   padding-top: 10vh;
// }

.login-screen.full-screen {
  height: 100vh;
}

.login-screen .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.login-screen .logo {
  width: 100px;
  margin-bottom: 3vh;
}

.login-screen h1 {
  margin-bottom: 5vh;
  font-size: 1.2em;
}

.login-screen form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-screen button.main-btn {
  @include main-btn;
  margin-top: 4vh;
}

.login-screen button.secondary-btn {
  text-decoration: underline;
  font-size: 0.8em;
  margin-top: 2vh;
}

.file-button {
  display: none !important;
}

// .login-screen h5 {
//   margin-top: 10vh;
//   position: absolute;
//   bottom: 15vh;
//   padding: 3% 10%;
//   border-radius: 3px;
//   font-weight: 300;
//   color: rgb(176, 34, 34);
// }

h6.success {
  font-weight: 500;
  font-size: 0.9em;
  color: green;
  margin-top: 2vh;
}

h6.failure {
  font-weight: 500;
  font-size: 0.9em;
  color: red;
  margin-top: 2vh;
}

.login-screen h5:empty {
  display: none !important;
}
