.conversations .chat {
  margin: 5vh 0;
  // background-color: rgb(249, 249, 249);
  border-radius: 5px;
  // padding: 5%;
  display: flex;
}

.conversations .left {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(229, 229, 229);
  border-radius: 5px;
}

.conversations .left p {
}

.conversations .center {
  margin-left: 5vw;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conversations .center h4 {
  margin: 0;
  font-weight: 500;
  font-size: 1em;
}

.conversations .center p {
  margin: 0;
  font-weight: 100;
  font-size: 0.75em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.conversations .right {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.conversations .right span {
  font-weight: 100;
  font-size: 0.75em;
}