.conversations-screen {
  padding-top: 15vh;
}

.conversations-screen .chat {
  margin: 5vh 0;
  border-radius: 5px;
  display: flex;
}

.conversations-screen .left {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(229, 229, 229);
  border-radius: 5px;
}

.conversations-screen .left p {
}

.conversations-screen .center {
  margin-left: 5vw;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conversations-screen .center h4 {
  margin: 0;
  font-weight: 500;
  font-size: 1em;
}

.conversations-screen .center p {
  margin: 0;
  font-weight: 100;
  font-size: 0.75em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.conversations-screen .right {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.conversations-screen .right span {
  font-weight: 100;
  font-size: 0.75em;
}
