@mixin main-h2-title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 3vh;
}

@mixin main-input-field {
  border-bottom: 1px solid #cccccc;
  padding: 2vw 3vw 2vw 0;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 50px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

@mixin main-btn {
  background-color: $theme-blue;
  border: 1px solid $theme-blue;
  color: $base-white;
  padding: 2% 3%;
  box-sizing: border-box;
  outline: none;
  border-radius: 50px;
  width: 80%;
  margin-bottom: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $base-transition;
}

@mixin main-btn-outline {
  background-color: $base-white;
  border: 1px solid $theme-blue;
  color: $theme-blue;
  padding: 2% 3%;
  box-sizing: border-box;
  outline: none;
  border-radius: 50px;
  width: 80%;
  margin-bottom: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $base-transition;
}

$breakpoints: (
  small: 35em,
  medium: 65em,
  large: 90em,
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}
