@mixin main-h2-title {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 3vh;
}

@mixin main-input-field {
  background-color: $soft-grey;
  border: 0px;
  padding: 4vw;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  width: 100%;
  font-weight: 300;
  font-size: 0.8em;
}

@mixin main-btn {
  background-color: $soft-grey;
  border: 0px;
  padding: 5%;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 25px;
  font-weight: 300;
}
