@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

html::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  position: relative;
  width: 100%;
  background-color: $base-white;
  height: 100vh;
  width: 100vw;
}

li {
  display: block;
  margin-bottom: 15px;
  list-style-type: none;
}

::marker {
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: $base-black;
  display: block;
}

a,
button {
  cursor: pointer;
}

::selection {
  background: $base-black;
  color: lightgray;
}

.show {
  display: flex;
  margin: 5vh 0;
}

.hide {
  display: none;
}

.menu-link-extra {
  display: inline-block;
  color: $theme-blue;
  text-decoration: underline;
  font-weight: 500;
  padding-left: 5px;
}

.mg-bottom-none {
  margin-bottom: 0 !important;
}

.mg-top-none {
  margin-top: 0 !important;
}

.mg-left-none {
  margin-left: 0 !important;
}

.mg-right-none {
  margin-right: 0 !important;
}
