* {
  font-family: "Montserrat", sans-serif !important;
  // font-weight: 400;
}

body {
  position: relative;
  width: 100%;
  background-color: $base-white;
  height: 100vh;
  width: 100vw;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: $base-black;
  display: block;
}

a,
button {
  cursor: pointer;
}

::selection {
  background: $base-black;
  color: lightgray;
}

h2 {
  @include main-h2-title;
}

// .App {
//   width: 100vw;
//   height: 100vh;
//   position: relative;
// }

input::placeholder {
  color: $med-grey;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 5%;
  box-sizing: border-box;
  width: 100vw;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.form-col-sm {
  width: 25%;
}

.form-col-md {
  width: 45%;
}

.form-col-lg {
  width: 65%;
}

.form-col-xl {
  width: 80%;
}

.form-col-sm input,
.form-col-lg input {
  width: 100%;
}

// .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
//   background-color: $theme-green !important;
//   color: black !important;
//   font-weight: 200 !important;
// }

.DayPicker-Day,
.DayPicker-wrapper {
  outline: none !important;
}

.DayPicker-NavButton--next, .DayPicker-NavButton--prev {
  outline: none !important;
}

.small-img {
  width: 100px;
  height: 50px;
}