* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  position: relative;
  width: 100%;
  background-color: $base-white;
  height: 100vh;
  width: 100vw;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: $base-black;
  display: block;
}

a,
button {
  cursor: pointer;
}

::selection {
  background: $base-black;
  color: lightgray;
}

h2 {
  @include main-h2-title;
}

// .App {
//   width: 100vw;
//   height: 100vh;
//   position: relative;
// }

input::placeholder,
textarea::placeholder {
  color: $med-grey;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 5%;
  box-sizing: border-box;
  width: 100vw;
}

.form-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.form-col-sm {
  width: 25%;
}

.form-col-md {
  width: 45%;
}

.form-col-lg {
  width: 65%;
}

.form-col-xl {
  width: 80%;
}

.form-col-sm input,
.form-col-lg input {
  width: 100%;
}

.DayPicker-Day,
.DayPicker-wrapper {
  outline: none !important;
}

.DayPicker-NavButton--next,
.DayPicker-NavButton--prev {
  outline: none !important;
}

.small-img {
  width: 100px;
  height: 50px;
}

.DayPicker-Day--selected {
  background-color: $theme-blue !important;
}

.DayPicker-Day--outside {
  // background-color: rgba($color: #f3f3f3, $alpha: 1) !important;
  background-color: rgba($color: $base-white, $alpha: 1) !important;
}

.DayPicker-Day--today {
  color: $theme-blue !important;
}

.DayPicker-Day--selected.DayPicker-Day--today {
  color: $base-white !important;
}

.DayPicker-Day.DayPicker-Day--disabled {
  pointer-events: none !important;
}

.DayPicker {
  display: flex !important;
  justify-content: center;
  align-items: center;
  // background: #f3f3f3;
  border: 2px solid #f3f3f3;
  padding: 5%;
  border-radius: 10px;
}

.DayPicker .DayPicker-Month {
  margin-top: 0;
}

.show-popup {
  display: block !important;
}

.hide-popup {
  display: none !important;
}

.mapboxgl-popup {
  display: none;
}

.mapboxgl-marker {
  will-change: initial !important ;
}

.mapboxgl-marker img {
  &:hover {
    .mapboxgl-popup {
      display: block;
    }
  }
}

.await-result {
  position: absolute;
  z-index: 20;
  width: 100vw;
  background-color: rgba($color: $base-white, $alpha: 1);
  transition: $base-transition;
  display: flex;
  justify-content: center;
  align-items: center;
}

.await-result.hide {
  height: 50;
  transition: $base-transition;
}

.await-result.show {
  transition: $base-transition;
  height: 100vh;
}
