.create-product-screen {
  // padding: 5vh 0;

  h1 {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 5vh;
  }

  h2 {
    font-size: 0.9em;
    font-weight: 600;
    margin: 5vh 0;
  }

  input[type='email'],
  input[type='text'],
  input[type='password'],
  input[type='number'],
  textarea {
    @include main-input-field;
    margin-bottom: 25px;
  }

  input[type='submit'] {
    @include main-btn;
    margin-top: 3vh;
  }

  textarea {
    resize: none !important;
  }

  .wallphoto {
    display: block;
    margin: 3vh auto !important;
    border-radius: 5px;
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }

  .file-upload-cta {
    margin-bottom: 5vh;
  }

  .form-hour-field {
    padding: 4vw 0;
    font-weight: 300;
    font-size: 0.8em;
    color: #8c8c8c;
  }

  button,
  .max-width-btn {
    margin: 0 auto;
    max-height: 50px;
    max-width: 300px;
    margin-bottom: 20px;
  }

  button.delete-item {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0.3;
    font-weight: 700;
    color: white !important;
  }
}

.create-product-screen.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

.date-and-time {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;

  @include mq(medium) {
    flex-direction: row;
  }

  .DayPicker {
    width: 100%;
    margin-bottom: 20px;

    @include mq(medium) {
      width: 48%;
      margin-bottom: 0;
    }
  }

  .wrapper {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;

    @include mq(medium) {
      flex-direction: row;
      width: 48%;
    }
  }
}
