.home-screen {
  li {
    margin-bottom: 0;
  }

  .event-list {
    overflow: auto;
    white-space: nowrap;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding-bottom: 3vh;
  }
}

.events-screen {
  .event-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(medium) {
      flex-direction: row;
      justify-content: flex-start;
    }

    .event-card {
      margin-bottom: 40px;

      // @include mq(large) {
      //   width: 30vw;
      // }
    }
  }
}

// .home-screen {
//   li {
//     margin-bottom: 0;
//   }

//   .event-list {
//     overflow: auto;
//     white-space: nowrap;
//     height: auto;
//     margin-top: 5vh;
//     margin-bottom: 10vh;
//     padding-bottom: 3vh;

//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }
// }
