.reservation-detail-screen {
  padding-top: 5vh;

  .cta-bottom-section {
    width: 100%;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;

    img {
      width: 20px;
      margin-right: 20px;
    }

    button {
      // margin: 3vh 3vw;
      // font-size: 0.9em;
      margin: 20px 3vw 0;
      font-size: 0.9em;
      max-height: 50px;
      max-width: 300px;

      &:first-child {
        @include main-btn;
        &:hover {
          @include main-btn-outline;
        }
      }

      &:last-child {
        @include main-btn-outline;
        &:hover {
          @include main-btn;
        }
      }
    }
  }

  .info-group {
    display: flex;

    & p:first-child {
      padding-right: 15px;
    }
  }

  .info-group.dates {
    display: flex;
    border-radius: 10px;
    padding: 5% 5% 5% 0;
    margin-top: 5%;

    & p:first-child {
      padding-right: 15px;
    }
  }

  .swiper-container {
    height: 65vh;
  }

  @include mq(large) {
    .swiper-container {
      height: 70vh;
    }
  }
}
