.reservation-card {
  display: flex;
  margin: 3vh 0;
  width: 90vw;

  // @include mq(small) {
  //   width: 60vw;
  // }

  // @include mq(medium) {
  //   width: 40vw;
  // }

  @include mq(large) {
    width: 70vw;
  }

  @include mq(huge) {
    width: 35vw;
    margin-right: 2vw;
  }

  .image {
    width: 100px !important;
    height: 100px !important;
    border-radius: 20px !important;
    margin-right: 30px;

    @include mq(small) {
      height: 30vh;
    }

    @include mq(medium) {
      height: 25vh;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .info {
    height: 30%;
    width: 100%;
    display: flex;
    padding: 5% 3%;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    transition: $base-transition;

    .left {
      width: 80%;

      h3 {
        font-weight: 500 !important;
        font-size: 1.1em;
        text-overflow: ellipsis;
      }

      h4 {
        font-weight: 300 !important;
        font-size: 0.9em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 15px;
      }
    }

    h4.price-bg-color {
      padding: 5px 10px;
      margin-top: 15px;
      background: #e0e4df;
      border-radius: 5px;
      font-size: 0.8em;
    }
  }

  &:hover,
  &:focus,
  &:active {
    // box-shadow: 0px 0px 37px 4px rgb(214 214 214 / 45%);
    transition: $base-transition;
    .info {
      // border: 1px solid $color-none;
      transition: $base-transition;
    }
  }
}
