/* Colors */
$base-black: #000;
$base-white: #fff;

$theme-blue: #F3F9FF;
$theme-green: #E0E4DF;
$theme-red: #EDC6B1;

$dark-green: #5B7860;

$soft-grey: #F5F5F5;
$med-grey: #B1B1B1;
$text-grey: #969696;

$color-none: rgba(0,0,0,0);

/* Transitions */
$base-transition: all .5s;
$fast-transition: all .2s;
$slow-transition: all 2s;
$smooth-transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
$bezier-transition: all .2s cubic-bezier(0.200, 0.250, 0.925, 0.470);