.DayPicker-Day,
.DayPicker-wrapper {
  outline: none !important;
}

.DayPicker-NavButton--next,
.DayPicker-NavButton--prev {
  outline: none !important;
}

.small-img {
  width: 100px;
  height: 50px;
}

.DayPicker-Day--selected {
  background-color: $theme-blue !important;
}

.DayPicker-Day--outside {
  background-color: rgba($color: #fbfbfb, $alpha: 1) !important;
  // background-color: rgba($color: $base-white, $alpha: 1) !important;
}

.DayPicker-Day--today {
  color: $theme-blue !important;
}

.DayPicker-Day--selected.DayPicker-Day--today {
  color: $base-white !important;
}

.DayPicker-Day.DayPicker-Day--disabled {
  pointer-events: none !important;
}

.DayPicker {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  // border: 2px solid #f7f7f7;
  padding: 5%;
  border-radius: 10px;
}

.DayPicker .DayPicker-Month {
  margin-top: 0;
}

.reservation-detail-screen {
  // .DayPicker {
  //   background: #f7f7f7;

  //   padding: 2% 0;
  //   border-radius: 10px;
  //   justify-content: flex-start;
  // }

  // .DayPicker-Month {
  //   margin: 0;
  // }

  // .DayPicker-Day--outside {
  //   background-color: rgba($color: #f7f7f7, $alpha: 1) !important;
  // }
}
