.preloader-wrapper {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 
 .preloader-title {
   font-size: 1.05em;
   font-weight: 500;
   margin-bottom: 3vh;
   font-style: italic;
 }
 
 .preloader-title:after {
   content: " .";
   animation: dots 1s steps(5, end) 10;
 }
 
 @keyframes dots {
   0%,
   20% {
     color: rgba(0, 0, 0, 0);
     text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
   }
   40% {
     color: black;
     text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
   }
   60% {
     text-shadow: 0.25em 0 0 black, 0.5em 0 0 rgba(0, 0, 0, 0);
   }
   80%,
   100% {
     text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
   }
 }
 
 .preloader-wrapper section {
   width: 50vw;
   height: 15vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .preloader-wrapper section svg {
   width: 50vw;
   width: 13vw;
 }
 
 .origin {
   width: 20vw;
   height: 20vw;
   animation: spin 6s cubic-bezier(0.8, 0, 0.2, 1) 5;
   background: rgba(#85cfcb, 0.3);
   transform-origin: center center;
   border-radius: 10px;
   margin: 0 2vw;
 
   @keyframes spin {
     50% {
       transform: rotate(180deg);
     }
     100% {
       transform: rotate(360deg);
     }
   }
 
   &:before,
   &:after {
     display: block;
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     transform-origin: inherit;
   }
 
   &:before {
     animation: inherit;
     animation-direction: reverse;
   }
 }