.prev-page-component {
  // width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: flex-start;
  &:hover {
    cursor: pointer;
  }
}

.prev-page-component svg {
  // padding: 12px !important;
  // background: #dfe4de !important;
  // width: 40px !important;
  // height: 40px !important;
  // border-radius: 40px !important;

  path {
    fill: #000;
  }
}

.menu-actions-homepage {
  //   width: 30vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-actions-homepage .search,
.menu-actions-homepage .radius {
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  transition: $base-transition;
  background: #dfe4de;
  cursor: pointer;

  &:hover {
    filter: opacity(0.7);
    transition: $base-transition;
  }
}

.menu-actions-homepage .radius-edit {
  background: #dfe4de;
  border-radius: 50px 0 0 50px;
  transition: $base-transition;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px 0 0 50px;
}

.show-menu {
  select {
    padding: 0 2vw;
    background: #dfe4de;
    border: none;
    height: 40px;
    background: #dfe4de;
    border-radius: 0 50px 50px 0;
  }
}

.menu-actions-homepage .search img,
.menu-actions-homepage .radius img {
  width: 30%;
  height: 30%;
}

.menu-actions-homepage .search {
  background-color: #f5f5f5;
}

.menu-actions-homepage .radius {
  background-color: $soft-green;
}

.search {
  border-radius: 60px;
  background: $soft-grey;
  transition: $base-transition;

  &:hover {
    background-color: rgb(221, 221, 221);
    transition: $base-transition;
    cursor: pointer;
  }
}

.toggle-filters {
  // width: 30px;
  // height: 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  img {
    padding: 15px;
  }
}

.search.active {
  background-color: rgb(8, 8, 8);
  transition: $base-transition;
  &:hover,
  &:active,
  &:focus {
    background-color: rgb(93, 93, 93);
    transition: $base-transition;
  }
}
