.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 5%;
  box-sizing: border-box;
  width: 100vw;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;

    @include mq(medium) {
      button,
      a {
        width: 50%;
        margin-bottom: 30px;
        padding: 15px 20px;
      }
    }
  }

  .logo {
    width: 100px;
    margin-bottom: 3vh;
  }

  h1 {
    margin-bottom: 5vh;
    font-size: 1.2em;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include mq(medium) {
      input {
        width: 50%;
        margin-bottom: 30px;
      }
    }
  }

  h5:empty {
    display: none !important;
  }
}

.login-screen.full-screen {
  height: 100vh;
}

.file-button {
  display: none !important;
}

.status-success {
  font-weight: 500;
  font-size: 0.9em;
  color: green;
  margin-top: 2vh;
}

.status-failure {
  font-weight: 500;
  font-size: 0.9em;
  color: red;
  margin-top: 2vh;
}
