.profile-screen {
  button.fix,
  a.fix {
    width: 100%;
    @include mq(medium) {
      margin: 0 10px !important;
      width: 40%;
    }

    &:hover {
      width: 100%;
      @include mq(medium) {
        width: 40%;
        margin: 0 10px !important;
      }
    }
  }

  button,
  a {
    max-height: 50px;
    max-width: 300px;
    margin-top: 0;
  }

  .alert {
    margin-bottom: 15px;
  }

  .about-user {
    .wrapper {
      // width: 20vw;
      border-radius: 10px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .user-image {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        object-fit: cover;
      }

      h2 {
        color: $text-grey;
        font-size: 1.3em;
        text-transform: capitalize;
        margin: 2vh 0;
        font-weight: 400;
      }
    }
  }

  .update-user-form {
    h2 {
      margin: 5px 0 15px;
    }

    .user-image-preview {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      object-fit: cover;
    }
  }

  .cta-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mq(medium) {
      flex-direction: row;
    }
  }

  .appprove-delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#000, 0.9);

    .wrapper {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      align-items: center;

      h2,
      p {
        color: #fff;
        text-align: center;
      }

      p {
        margin-bottom: 5vh;
      }

      button.main-btn {
        margin-top: 20px !important;
        &:hover {
          background-color: rgba(#000, 0);
        }
      }
    }
  }
}
